@CHARSET "UTF-8";

html
	{
	font-size: 16px;
	}
	
body {
	margin: 0em;
	padding: 0em;
	background-color: #dddddd;
	background-repeat: repeat-y;
	background-position: center;
	background-image: url(../../img/street/ombra.png);
	text-align: justify;
	color: #333333;
	font-family: verdana, arial, helvetica;
}


div#pagina {
	margin: auto;
	width: 980px;
	
}

div#header {
	width: 96%;
	height: 8em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	background-color: #dddddd;
	background-image: url(../../img/street/logo_grande.png);
	background-repeat: no-repeat;
	background-position: left;
	border-radius:1em;
	behavior: url(../third_party_libs/pie/PIE.php);
}

div#header:before
	{
	}



div#bloccoMenu {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5%;
}




div#contenitore{
}

div#corpoCentrale {
	
}


div#footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #999999;
	padding-top: 1%;
	height: 2em;
}

a {
	color: #FF6600;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}


h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

p {
	margin: 0% 1% 1% 0%;
	margin: 0em 1em 1em 0em;
}


label {
	/*display: block;*/
	width: 100%;
	font-size: 1em;
	font-weight: bold;
}

div#intestazioneArticoli,
div#intestazioneForum
	{
	margin-top: 1.5%;
	margin-bottom: 0.4em;
	vertical-align: bottom;
	}

div#intestazioneArticoli img
	{
	display: inline-block;
	vertical-align: bottom;
}

div#menuCategorieArticoli,
div#menuCategorieArgomenti 
{
	line-height: 2em;
	display: inline-block;
}

div#menuCategorieArticoli div,
div#menuCategorieArgomenti div,
div#menuCategorieArticoli img
{
	float: left;
}

div#menuCategorieArticoli img
{
	margin-top: 0.1em;
	height: 1.8em;;
	width: auto;
}

.btn_menuCategorieArticoli,
.btn_menuCategorieArgomenti ,
.btn_menuCategorieArticoli:hover ,
.btn_menuCategorieArgomenti:hover 
	{
	margin: 0em 0.2em 0em 0em;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-radius: 0.5em;
	text-decoration: none;
	white-space: nowrap;
	behavior: url(../third_party_libs/pie/PIE.php);
	}

.btn_menuCategorieArticoli 
	{
	color:#333333;
	background-color: #dddddd;
	}

.btn_menuCategorieArticoli:hover 
	{
	color:#FFFFFF;
	background-color: #FF6600;
	}

.btn_menuCategorieArticoli.selezionato 
	{
	color:#FFFFFF;
	background-color: #FF6600;
	}

.btn_menuCategorieArticoli.selezionato:hover 
	{
	color:#333333;
	background-color: #dddddd;
	}

.btn_menuCategorieArgomenti 
	{
	color:#FFFFFF;
	background-color: #333333;
	}

.btn_menuCategorieArgomenti:hover 
	{
	color:#FFFFFF;
	background-color: #FF6600;
	}

.btn_menuCategorieArgomenti.selezionato 
	{
	color:#FFFFFF;
	background-color: #FF6600;
	}

.btn_menuCategorieArgomenti.selezionato:hover 
	{
	color:#FFFFFF;
	background-color: #333333;
	}

div#bloccoRicerca {
	padding: 2%;
}


.inPrimoPiano_blocco,
.articolo_blocco,
.argomento_blocco
{
	padding: 1.5%;
	width: 98%;
	margin-bottom: 0.5em;
	border-top-style: dashed;
	border-top-width: thin;
	border-color: #cccccc;
}

.inPrimoPiano_titolo {
	font-size: 2em;
	margin: 0em 0em 0.4em 0em;
}

.inPrimoPiano_sintesi {
	font-size: 1.2em;
	font-style: italic;
	margin: 0em 0em 0.4em 0em;
}

.articolo_titolo ,
.argomento_titolo
{
	width: 98%;
	font-size: 1.2em;
	margin: 0em 0em 0.4em 0em;
}

.articolo_sottoTitolo {
	font-size: 1.5em;
	width: 98%;
	margin: 0em 0em 0.4em 0em;
}

.articolo_sintesi ,
.argomento_sintesi
{
	font-size: 1em;
	font-style: italic;
	margin: 0em 0em 0.4em 0.2em;
	
}

.datiArticolo,
.datiArgomento
	{
	width: 96%;
	padding: 1.5%;
	font-size: 0.8em;
	color: #333333;
	background-color: #DDDDDD;
	margin: 2em 0em 0em 0em;
	border-radius: 1em;
	behavior: url(../third_party_libs/pie/PIE.php);
	}

.elencoCommenti,
.elencoInterventi
{
	border-top-style: dashed;
	border-top-width: thin;
	border-bottom-style: dashed;
	border-bottom-width: thin;
	border-color: #cccccc;
	clear: both;
	padding-bottom: 1em;
	margin-bottom: 1em;
}	

.bloccoFeeder
{
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	margin-top: 0.5em;
	margin-bottom: 0;
	clear: both;
}

.bloccoFeeder img
{
	cursor: pointer;
}

.bloccoCommento,
.bloccoIntervento
{
	width: 94%;
	padding: 1.5%;
	font-size: 0.8em;
	color: #333333;
	background-color: #dddddd;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 1em;
	behavior: url(../third_party_libs/pie/PIE.php);
	clear: both;
}	

div.bloccoCommento img.edit,
div.bloccoIntervento img.edit
{
	float: right; 
	margin-right: 2em;
	border: none;
}	

div.modulo_login,
div.modulo_commento,
div.modulo_intervento,
div.modulo_ricerca
{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

div.modulo_ricerca
{
	border-top-style: dashed;
	border-top-width: thin;
	border-color: #cccccc;
	margin-top: 2em;
	padding-top: 1em;
}

div.modulo_ricerca hr
{
}

.datiArgomento,
.bloccoIntervento
{
	color:#FFFFFF;
	background-color: #333333;

}


.campo{
	display: block;
	width: 100%;
	margin: 0em 0em 0.5em 0em;
}

.campo input
	{
	margin-right: 1.5em;
	}

.campo img
	{	
	display: inline-block;
	/*height: 100%;*/
	vertical-align: middle;
	}

.messaggio
	{
	font-size: 1.2em;
	color: #FFFFFF;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-radius: 0.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	width: 94%;
	behavior: url(../third_party_libs/pie/PIE.php);
	}

.errore
	{
	background-color: #800000;
	}

.conferma
	{
	background-color: #008000;
	}

form input,
form textarea
{
	border-radius: 1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	behavior: url(../third_party_libs/pie/PIE.php);
	
}

.mceEditor
	{
	width: 98.5%; 
	height: 16em; 
	}
	
input[type="button"],
input[type="submit"]
{
	margin-top: 1em;
	width: 12em;
	text-transform: capitalize;
}

input[type="button"][name="bottone_ricerca_rapida"]
{
	margin-top: 0.1em;
	width: 6em;
}

div.elencoArticoliUtente,
div.elencoArgomentiUtente,
div.elencoCommentiUtente,
div.elencoInterventiUtente
{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	/*clear: both;*/
	border-top-style: dashed;
	border-top-width: thin;
	border-color: #cccccc;
	clear: both;
	
}

div.elencoArticoliUtente h1,
div.elencoArgomentiUtente h1,
div.elencoCommentiUtente  h1,
div.elencoInterventiUtente  h1
	{
	margin-bottom: none;	
	}
	
div.elencoArticoliUtente table,
div.elencoArgomentiUtente  table,
div.elencoCommentiUtente table,
div.elencoInterventiUtente table 
	{
	font-size: 0.8em;
	width: 100%;
	margin: 0em;	
	}
	
div.elencoArticoliUtente table td,
div.elencoArgomentiUtente table td,
div.elencoCommentiUtente table td,
div.elencoInterventiUtente table td
	{
	padding-right: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	}
	
div#corpoCentrale form label table.allineamentoControlli,
div#corpoCentrale form label table.allineamentoControlli td,
div#corpoCentrale form div.campo table.allineamentoControlli,
div#corpoCentrale form div.campo table.allineamentoControlli td
{
	padding: 0em; 
	margin: 0em;
}

div#corpoCentrale form div.campo table.allineamentoControlli
{
	margin-top: -0.2em;
}

div#corpoCentrale form label table.allineamentoControlli td,
div#corpoCentrale form div.campo table.allineamentoControlli td
{
	width: 20em;
}

div.bottoni_paginazione
{
	width: 96%;
	font-size: 0.95em;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

div.pagina_precedente
{
	float: left;
	margin-bottom: 1em;
}

div.pagina_successiva
{
	text-align: right;
	margin-bottom: 1em;
}

h1#label_testo_commento,
h1#label_testo_intervento
{
	margin-bottom: 0em;
}

ul#help_password
{
	margin-top: 0.1em;
}

ul#help_password li
{
	font-size: 0.9em;
}

/*********** media queries ***************/
/*********** media queries ***************/
/*********** media queries ***************/
/*********** media queries ***************/
/*********** media queries ***************/
@media only screen and (max-device-width: 240px) , 
		only screen and (max-device-width: 320px),
		only screen and (max-device-width: 480px),
		only screen and (max-device-width: 600px),
		only screen and (max-device-width: 640px),
		only screen and (max-device-width: 800px),
		only screen and (max-device-width: 1024px),
		only screen and (max-device-width: 1068px)
	{
	html
		{
		font-size: 22px;
		}
	}
	
/* Only iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	html 
		{
		font-size: 0.9em;
		}
		
}

/* Only iPhone 5 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
	html 
		{
		font-size: 0.75em;
		}
	
	div.bottoni_paginazione div.pagina_precedente a
		{	
		/*mah....*/
		font-size: 1.05em;
		}

	div.bottoni_paginazione div.pagina_successiva a
		{	
		/*mah....*/
		font-size: 0.6em;
		}

}


