@CHARSET "UTF-8";

@import url("modulo.css");
@import url("tabella.css");
@import url("menu.css");

html
	{
	font-size: 16px;
	}
	
body
	{
	background-color: #ffffff;
	border-bottom: #ffffff 80px solid;
	font-size: 0.8em;
	font-family: verdana, arial, helvetica;
	width: 80%;
	margin-left: auto ;
	margin-right: auto ;
	}

a
	{
	text-decoration: none;
	color: #0000cc;
	}	
	
a:visited
	{
	color: #0000cc;
	}	
		
div.waapplicazione_titolo
	{
	text-align: center;
	font-size: 1.4em;
	margin: 20px;
	}
	
div.waapplicazione_testo_libero
	{
	width: 800px ;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 40px;
	margin-bottom: 40px;
	}
	
div.waapplicazione_wamenu table
	{
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 40px;
	}	
	
div.waapplicazione_footer
	{
	margin-top: 40px;
	}	
	
div.waapplicazione_messaggio_errore,
div.waapplicazione_messaggio_errore form
	{
	margin-top: 40px;
	text-align: center;
	}	
	
	
div.waapplicazione_dati_versione	
	{
	margin-top: 20px;
	margin-right: 2px;
	text-align: right;
	font-style: italic;
	}
	

/*********** media queries ***************/
/*********** media queries ***************/
/*********** media queries ***************/
/*********** media queries ***************/
/*********** media queries ***************/
@media only screen and (max-device-width: 240px) , 
		only screen and (max-device-width: 320px),
		only screen and (max-device-width: 480px),
		only screen and (max-device-width: 600px),
		only screen and (max-device-width: 640px),
		only screen and (max-device-width: 800px),
		only screen and (max-device-width: 1024px),
		only screen and (max-device-width: 1068px)
	{
	html
		{
		font-size: 26px;
		}
	
	body 
		{
		width: 96%;
		}
		
	form.wamodulo
		{
		left: auto !important;
		margin-left: auto !important;
		margin-right: auto !important;
		}	
	}
	
/* Only iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	html 
		{
		font-size: 0.9em;
		}
		
}

/* Only iPhone 5 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
	html 
		{
		font-size: 0.75em;
		}
	
}


